<template>
    <div class="modal">
        <div class="form">
            <div class="right">
            <button @click="closeView" class="back">x</button>
            </div>
            <h3>Add a Channel</h3>
            <form>
            <label>Label :</label>
            <input type="text" v-model="label" placeholder="Enter a label"/><br/>
            <label>Topic :</label>
            <input type="text" v-model="topic" placeholder="Enter a topic"/><br/>
            <button type="submit" class="add" @click="addChannel">Create</button>
            </form>
        </div>
    </div>
</template>
<script>
/* Modal d'ajout d'un channel */
export default {
    name: 'addChannel',
    props : ['toggleAddView', 'getChannels'],
    data(){
        return {
            label : "",
            topic : "",
        }
    },
    methods : {
        /** Méthode addChannel
         * Appel la route POST /channels
         * @requires object label topic
         * Ferme la modal et met à jour la liste des channels
          */
        addChannel(){
            window.axios.post('channels', {
                    label : this.label,
                    topic : this.topic
                }).then((response) => {
                    this.$emit('toggleAddView', false);
                    this.$emit('getChannels');
                }
            )
        },
        /** Méthode closeView
         * Ferme la modal en appelant l'évènement toggleAddView
          */
        closeView(){
            this.$emit('toggleAddView', false);
        }
    }
}
</script>
<style scoped>

</style>
