<template>
  <div>
    <Header/>
    <transition name="fade">
        <detailProfil v-if="viewProfil" :member="detailsMember" @closeProfil="toggleProfil" />
    </transition>
    <transition name="fade">
        <editChannel v-if="viewEditChannel" :channelId="channelId" :channel="channel" @toggleEditChannel="toggleEditChannel" />
    </transition>
    <div class="error" v-if="error.is">
        <p>Erreur : {{ error.msg }}</p>
    </div>
    <div v-else>
        <div class="header">
            <h2>Channel : {{ channel.label }}</h2>
            <i>{{ channel.topic }}</i>
            <button @click="toggleEditChannel(true)">
                <i class="fas fa-edit right"></i>
            </button>
        </div>
        <div id="discution" v-chat-scroll>
            <div v-for="post in channel.posts">
                <div v-if="post.member_id == $store.state.member.id" class="messageRight">
                    <template v-for="member in members">
                        <template v-if="post.member_id == member._id">
                            <p>
                                {{ post.message }}
                                <v-gravatar :email="member.email" class="avatar"/><br/>
                            </p>
                        </template>
                    </template>
                </div>
                <div v-else class="messageLeft">
                    <template v-for="member in members">
                        <template v-if="post.member_id == member._id">
                            <p>
                                <v-gravatar :email="member.email" class="avatar" @click="detailsProfil(member)" />
                                {{ post.message }}
                            </p>
                        </template>
                    </template>
                </div>
            </div>
        </div>
    </div>
    <form v-if="!error.is" class="addMessage" @submit.prevent="addMessage">
        <input type="text" v-model="message"/>
        <button type="submit" class="send">Send</button>
    </form>
  </div>
</template>

<script>
/* Affiche un channel avec sa discution */
import detailProfil from '@/components/detailProfil';
import editChannel from '@/components/editChannel';
import Header from '@/components/Header';

export default {
  name: 'dashboard',
  components : {
      detailProfil,
      editChannel,
      Header
  },
  data () {
    return {
        channelId : "",
        discutions : "",
        channel : "",
        message : "",
        viewEditChannel : false,
        viewProfil : false,
        detailsMember : "",
        alignMessage : "",
        members : "",
        viewProfil : false,
        error : {
            is : false,
            msg : ""
        }
    }
  },
  mounted(){
    this.memberConnected();
    this.channelId = this.$route.params.id;
    this.getMembers();
    this.getChannel();
  },
  methods : {
    /** Méthode getChannel
     * Récupère la liste des channels sur la route GET channels/{channelId}
     * @requires object channelId
    */
    getChannel(){
        window.axios.get('channels/'+this.channelId).then((response) => {
            this.channel = response.data;
        }).catch((error) => {
            this.error.is = true;
            this.error.msg = error.response.data.error;
        });
    },

    /** Méthode addMessage
     * Ajoute un message au channel sur la route
     * POST channels/{channelId}/posts
     * @requires object message
    */
    addMessage(){
        window.axios.post('channels/'+this.channelId+'/posts', {
                message : this.message
            }).then((response) => {
                this.message = "";
                this.getChannel();
            }
        ).catch((error) => {
            this.error.is = true;
            this.error.msg = error.response.data.error;
        })
    },

    /** Méthode getMembers
     * Récupère la liste des membres sur la route
     * GET members
      */
    getMembers(){
        window.axios.get('members').then((response) => {
            this.members = response.data;
        })
    },

    /** Méthode detailsProfil
     * Ouvre la modal de détail du profil et passe le détail du profil d'un membre
     * @param object member
      */
    detailsProfil(member){
        this.viewProfil = true;
        this.detailsMember = member;
    },

    /** Méthode toggleProfil
     * Ouvre / Ferme la modal du profil d'un membre
     * @param bool toggle
      */
    toggleProfil(toggle){
        this.viewProfil = toggle;
    },

    /** Méthode toggleEditChannel
     * Ouvre / Ferme la modal de modification d'un channel
     * @param bool toggle
      */
    toggleEditChannel(toggle){
        this.viewEditChannel = toggle;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.header{
    text-align: left;
    background: rgba(0, 0, 0, 0.2);
    padding: 0.5em 1em;
}
#discution{
    margin: auto;
    height: 40em;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    background: ghostwhite;
    direction: ltr;
}
.messageLeft{
    display: block;
    margin: 1em;
    border-radius: 20px;
    padding: 1em;
    text-align: left;
}
.messageRight{
    display: block;
    text-align: right;
    margin: 1em;
    padding: 1em;
    min-width: 1em;
    text-align: right;
}
.addMessage{
    width: 100%;
    background: rgb(198, 198, 203);
    padding: 1em 0 1em 0;
}
.addMessage input{
    width: 90%;
}
.avatar{
    height: 2em;
    width: 2em;
    padding-top: 5px;
    border-radius: 1em;
}
.send{
    background: #2ecc71;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    border-radius: 2px;
    padding: 0.3em 1em;
}
</style>
