<template>
  <div>
    <Header/>
    <transition name="fade">
      <addChannel v-if="viewFormAddChannel" @toggleAddView="toggleAddView" @getChannels="getChannels" />
    </transition>
    <div>
        <h1>Dashboard</h1>
        <router-link to="/members">List members</router-link>
    </div>

    <div id="channel">
        <table>
            <tr>
                <th>
                  <h3>Channels</h3>
                </th>
            </tr>
            <tr v-for="channel in channels">
                <td>
                  <router-link :to="{ name : 'channel', params: { id : channel._id }}">
                    {{ channel.label }}
                  </router-link>
                  <i>{{ channel.topic }}</i>
                </td>
            </tr>
        </table>
        <button class="add" @click="toggleAddView(true)">+</button>
    </div>
  </div>
</template>

<script>
/* Affiche en liste les channels */
import addChannel from '@/components/addChannel.vue';
import Header from '@/components/Header';

export default {
  name: 'dashboard',
  components : {
    addChannel,
    Header
  },
  data () {
    return {
        channels : [],
        viewFormAddChannel : false,
    }
  },
  mounted(){
      this.memberConnected();
      this.getChannels();
  },
  methods : {
    /** Méthode getChannels
     * Récupère la liste des channels sur la route
     * GET channels
      */
    getChannels(){
        window.axios.get('channels').then((response) => {
            this.channels = response.data;
        })
    },

    /** Méthode toggleAddView
     * Ouvre / Ferme la modal d'ajout un channel
     * @param bool toggle
      */
    toggleAddView(toggle){
      this.viewFormAddChannel = toggle;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#channel{
  text-align: left;
  margin-left: 10em;
}
td{
    text-align: left;
    padding: 1em;
    width: 15%;
    background:rgba(200, 200, 200, .1);
}
th{
    background: #e4e9ed;
    color: #2e3131;
    padding-left: 1em;
}
</style>
