<template>
    <div class="modal">
        <div>
            <div class="right">
                <button @click="close" class="back">x</button>
            </div>
            <div>
                <v-gravatar :email="member.email" class="avatar" />
                <p>
                    Fullname : {{ member.fullname }}
                </p>
                <p>
                    Email : {{ member.email }}
                </p>
            </div>
            <div class="lastMessages" v-if="posts.length > 0">
                <h3>Last 10 messages :</h3>
                <div v-for="post in posts.slice(0, 9).sort(tri)">
                    <router-link :to="{ name : 'channel', params: { id : post.channel_id }}">
                        {{ post.message }} {{ moment(post.created_at).format("DD/MM/YYYY") }}
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
/* Modal Affichacge du détail d'un profil */
export default {
  name: 'detailProfil',
  props:['member', 'closeProfil'],
  data(){
      return {
          posts: [],
      }
  },
  mounted(){
      this.memberConnected();
      this.lastMessages();
  },
  methods : {

    /** Méthode close
     * Ferme la modal de détail d'un profil
     * en appelant l'évènement closeProfil
      */
    close(){
        this.$emit('closeProfil', false);
    },

    tri(a,b){
        return (a.created_at > b.created_at)?-1:1;
    },

    /** Méthode lastMessages
     * Récupère la liste des messages de tous les channels
      */
    lastMessages(){
        window.axios.get('channels').then((response) => {
            let channels = response.data;

            channels.forEach(channel => {
                window.axios.get('channels/'+channel._id+'/posts').then((response) => {
                    let posts = response.data;
                    console.log(posts);
                    if(posts != []){
                        posts.forEach(post => {
                            if(this.member._id == post.member_id){
                                this.posts.push(post);
                            }
                        });
                    }
                })
            });
        });
    }
  }
}
</script>

<style scoped>
.modal > div{
    margin: auto;
    margin-top: 2em;
    padding : 2em;
    background: white;
    width:30%;
}
.avatar{
    float: left;
    margin-top: -2em;
    border-radius: 50px;
}
.lastMessages{
   text-align: left; 
}
.lastMessages div{
    padding: 1em 0;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}
.lastMessages div:last-child{
    border-bottom: none;
}
</style>