<template>
    <div class="modal">
        <div class="form">
            <div class="right">
                <button @click="closeView" class="back">x</button>
            </div>
            <h3>Edit Channel</h3>
            <div v-if="error.is" class="error">
                <p>Erreur : {{ erreur.msg }}</p>
            </div>
            <form>
                <label>Label :</label>
                <input type="text" v-model="channel.label" placeholder="Enter a label"/><br/>
                <label>Topic :</label>
                <input type="text" v-model="channel.topic" placeholder="Enter a topic"/><br/>
                <button v-if="!viewDeleteChannel" type="submit" class="add" @click="editChannel">Edit</button>
                <button v-if="!viewDeleteChannel" class="delete" @click="toggleDeleteChannel(true)">Delete</button>
                <div v-else>
                    <p>Are your sure ?</p>
                    <button class="delete" @click="deteleChannel">Yes</button>
                    <button class="cancel" @click="toggleDeleteChannel(false)">No</button>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
/* Modal de modification d'un channel */
export default {
    name: 'editChannel',
    props: ['channel', 'toggleEditChannel','channelId'],
    data(){
        return {
            viewDeleteChannel : false,
            error : {
                is : false,
                msg : ""
            }
        }
    },
    methods : {
        /** Méthode editChannel
         * Modifie le channel sur la route
         * PUT channels/{channelId}
         * @requires object channelId, channel.label, channel.topic
          */
        editChannel(){
            window.axios.put('channels/'+this.channelId, {
                    label : this.channel.label,
                    topic : this.channel.topic
                }).then((response) => {
                    this.$emit('toggleEditChannel', false);
                }
            ).catch((error) => {
                this.error.is = true;
                this.error.msg = error.response.data.error;
            })
        },

        /** Méthode deleteChannel
         * Supprime un channel sur la route
         * DELETE channels/{channelId}
          */
        deteleChannel(){
            window.axios.delete('channels/'+this.channelId)
                .then((response) => {
                    this.$router.push("/");
                }
            ).catch((error) => {
                this.error.is = true;
                this.error.msg = error.response.data.error;
            })
        },

        /** Méthode closeView
         * Ferme la modal en appelant l'évènement toggleEditChannel
          */
        closeView(){
            this.$emit('toggleEditChannel', false);
        },

        /** Méthode toggleDeleteChannel
         * Affiche la seconde verification sur la suppression d'un channel
         * @param bool toggle
          */
        toggleDeleteChannel(toggle){
            this.viewDeleteChannel = toggle;
        },
    }
}
</script>
<style scoped>

</style>
