<template>
    <nav>
      <div class='title'>Coop</div>
    </nav>
</template>

<script>
/* Header Logout */
export default {
  name: 'HeaderLogout'
}
</script>

<style scoped>
nav{
  background: #26c281;
  text-align: left;
  margin-bottom: 2em;
}
nav .title{
  margin-left: 1em;
  margin-right: 1em;
  font-size: 2em;
  display: inline-block;
  font-weight: bold;
  color: white;
}
</style>