<template>
    <nav>
      <div class='title'>Coop</div>
      <ul>
        <li>
          <router-link to="/dashboard">Dashboard</router-link>
          <router-link to="/members">Members</router-link>
          <button @click="logout" class="logout">Logout</button>
        </li>
      </ul>
    </nav>
</template>

<script>
/* Header Login */
export default {
  name: 'Header',
  mounted(){
    if(this.memberConnected()){
      window.axios.get("members/"+this.$store.state.member._id+"/signedin")
      .then((response) => {
      }).catch((error) => {
        this.$router.push("/");
      })
    }
  },
  methods : {
    /** Méthode logout
     * Déconnecte le membre sur la route
     * DELETE members/signout
      */
    logout(){
      window.axios.delete('members/signout').then((response) => {
          this.$store.commit('setToken',false);
          this.$store.commit('setMember', false);
          this.$router.push("/");
        }
        ).catch((error) => {
          console.log(error.message);
        })
    }
  }
}
</script>

<style scoped>
nav{
  background: #26c281;
  text-align: left;
}
nav .title{
  margin-left: 1em;
  margin-right: 1em;
  font-size: 2em;
  display: inline-block;
  font-weight: bold;
  color: white;
}
nav ul{
  display: inline-block;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  padding: 0 1em 0 1em;
  display: inline-block;
}
.logout{
  font-size: 1em;
  padding: 0 1em 0 1em;
}
</style>