<template>
    <div>
        <Header/>
        <transition name="fade">
            <detailProfil v-if="viewProfil == true" :member="detailsMember" @closeProfil="toggleProfil"   />
        </transition>
        <div>
            <h1>Members</h1>
            <table>
                <tr>
                    <th>Full name</th>
                    <th>Email</th>
                    <th></th>
                </tr>
                <tr v-for="member in members">
                    <td @click="detailsProfil(member)">{{ member.fullname }}</td>
                    <td @click="detailsProfil(member)">{{ member.email }}</td>
                    <td v-if="$store.state.member.id != member._id"><button @click="deteleMember(member)"><i class="fas fa-trash-alt"></i></button></td>
                    <td v-else></td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
/* Affiche la liste des membres */
import detailProfil from '@/components/detailProfil';
import Header from '@/components/Header';

export default {
  name: 'listMembers',
  components : {
      detailProfil,
      Header
  },
  data () {
    return {
        members : "",
        viewProfil : false,
        detailsMember : "",
    }
  },
  mounted(){
      this.memberConnected();
      this.getMembers();
  },
  methods : {
    /** Méthode getMembers
     * récupère la liste des membres sur la route
     * GET members
      */
    getMembers(){
        window.axios.get('members').then((response) => {
            this.members = response.data;
        })
    },

    /** Méthode detailsProfil
     * Affiche la modal de détail d'un profil
     * @param object member
      */
    detailsProfil(member){
        this.viewProfil = true;
        this.detailsMember = member;
    },

    /** Méthode deteleMember
     * Supprime un membre sur la route
     * DELETE members/{_id}
     * @param object member
      */
    deteleMember(member){
        window.axios.delete('members/'+member._id)
            .then((response) => {
                this.getMembers();
            }
        ).catch((error) => {
            console.log(error.response);
        })
    },

    /** Méthode toggleProfil
     * Ouvre / Ferme la modal de détail d'un profil
     * @param bool toggle
      */
    toggleProfil(toggle){
        this.viewProfil = toggle;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
td{
    text-align: left;
    padding: 1em;
    background:rgba(200, 200, 200, .1);
}
th{
    background: #e4e9ed;
    color: #2e3131;
    padding-left: 1em;
}
table{
    margin: auto;
    width: 50%;
}
.modal > div{
    margin: auto;
    margin-top: 2em;
    padding : 2em;
    background: white;
    width:30%;
}
.avatar{
    float: left;
    margin-top: -2em;
    border-radius: 50px;
}
i{
    font-size: 1.5em;
}
</style>
