<template>
    <div>
        <HeaderLogout v-if="!succes.is" />
        <div class="form">
            <h1>Signup</h1>
            <div class="error" v-if="error.is">
                {{ error.msg }}
            </div>
            <form @submit.prevent="createAccount" v-if="!succes.is">
                <label from="fullName">Full name :</label>
                <input type="text" v-model="fullName" placeholder="Enter your name" required/><br/>
                <label from="email">Email :</label>
                <input type="email" v-model="email" placeholder="Enter your email" required/><br/>
                <label from="password">Password :</label>
                <input type="password" v-model="password" placeholder="Enter your password" required/><br />
                <label from="password">Verif password :</label>
                <input type="password" v-model="verifPassword" placeholder="Enter your password" required/><br />
                <button type="submit" class="add">Signup</button>
                <router-link to="/" class="button">Signin</router-link>
            </form>
            <div class="succes" v-else>
                {{ succes.msg }}
            </div>
        </div>
    </div>
</template>

<script>
/* Affiche le formulaire d'inscription */
import HeaderLogout from '@/components/HeaderLogout';

export default {
  name: 'singup',
  components : {
      HeaderLogout
  },
  data () {
    return {
      fullName : "",
      email : "",
      password : "",
      verifPassword : "",
      error : {
          is : false,
          msg : ""
      },
      succes : {
          is : false,
          msg : ""
      }
    }
  },
  methods : {
      /** Methode createAccount
       * Crée un compte avce les informations renseigné ene paramètre
       * @requires object fullName, email, password
        */
      createAccount(){
          if(this.password == this.verifPassword){
                window.axios.post('members', {
                    fullname : this.fullName,
                    email : this.email,
                    password : this.password
                }).then((response) => {
                console.log(response.data);
                this.error.is = false;
                this.error.msg = "";
                this.succes.is = true;
                this.succes.msg = "Account created "+this.fullName+" !";
                setTimeout(() => { 
                    this.$router.push("/");
                    }, 1000);
            }
            ).catch((error) => {
                this.error.is = true;
                this.error.msg = error.response.data.error.join("\n");
            })
          }
          else{
              this.error.is = true;
              this.error.msg = "Wrong password";
              this.password = "";
              this.verifPassword = "";
          }
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.button{
    margin: 1em;
    padding: 0.3em 1em;
    border-radius: 5px;
    font-size: 1em;
    color: white;
    background: #4183d7;
    border: none;
    height: 2em;
}
</style>
