<template>
    <div>
        <HeaderLogout v-if="!succes.is" />
        <div class="form">
            <h1>Signin</h1>
            <div class="error" v-if="error.is">
                {{ error.msg }}
            </div>
            <form @submit.prevent="login" v-if="!succes.is">
                <label from="email">Email :</label>
                <input type="email" v-model="email" placeholder="Enter your email" required/><br/>
                <label from="password">Password :</label>
                <input type="password" v-model="password" placeholder="Enter your password" required/><br />
                <button type="submit" class="add">Signin</button>
                <router-link to="/signup" class="button">Signup</router-link>
            </form>
            <div class="succes" v-else>
                {{ succes.msg }}
            </div>
        </div>
    </div>
</template>

<script>
/* Affiche le formulaire de login */
import HeaderLogout from '@/components/HeaderLogout';

export default {
  name: 'signin',
  components : {
      HeaderLogout
  },
  data () {
    return {
      email : "",
      password : "",
      error : {
          is : false,
          msg : ""
      },
      succes : {
          is : false,
          msg : ""
      }
    }
  },
  mounted(){
      /* Si membre est connecté ET que son token est valide */
      if(this.memberConnected()){
        window.axios.get("members/"+this.$store.state.member._id+"/signedin")
        .then((response) => {
            this.$router.push("/dashboard");
        })
      }
  },
  methods : {
      /** Méthode login
       * Connecte le memebre renseigné si ce dernier à entré des informations valides
       * @requires object email, password
        */
      login(){
        window.axios.post('members/signin', {
                email : this.email,
                password : this.password
            }).then((response) => {
            this.error.is = false;
            this.error.msg = "";
            this.succes.is = true;
            this.succes.msg = "You are connected !";
            this.$store.commit('setToken',response.data.token);
            this.$store.commit('setMember', {
                id : response.data._id,
                email : response.data.email,
                fullName : response.data.fullname

            });
            this.setToken(response.data.token);

            setTimeout(() => { 
                this.$router.push("/dashboard");
            }, 1000);
        }
        ).catch((error) => {
            this.error.is = true;
            this.error.msg = error.response.data.error;
            this.password = "";
        })
      }
  },

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.button{
    margin: 1em;
    padding: 0.3em 1em;
    border-radius: 5px;
    font-size: 1em;
    color: white;
    background: #4183d7;
    border: none;
    height: 2em;
}
</style>
