<template>
  <div id="app" v-if="applicationActive">
    <router-view/>
  </div>
</template>

<script>

export default {
  name: 'App',
  data(){
    return {
      applicationActive : false
    }
  },
  mounted(){
    /* Test API */
    window.axios.get('ping').then((response) => {
        this.applicationActive = true;
      }
    ).catch((error) => {
      this.applicationActive = false;
    })
  }
}
</script>

<style>
*{
  margin: 0;
  padding: 0;
}
#app, .logout{
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
a{
  text-decoration: none;
  color: #2c3e50;
}
.succes{
  color: #2ecc71;
}
.error{
  color: #96281b;
}
.add{
  margin: 1em;
  padding: 0 1em;
  border-radius: 5px;
  font-size: 1em;
  color: white;
  background: #2ecc71;
  border: none;
  height: 2em;
}
.delete{
  margin: 1em;
  padding: 0 1em;
  border-radius: 5px;
  font-size: 1em;
  color: white;
  background: #d91e18;
  border: none;
  height: 2em;
}
.cancel{
  margin: 1em;
  padding: 0 1em;
  border-radius: 5px;
  font-size: 1em;
  color: black;
  background: #f3f1ef;
  border: 1px solid black;
  height: 2em;
}
.back{
  border-radius: 15px;
  font-size: 1em;
  color: rgba(0,0,0,0.5);
  background: #eeeeee;
  border: none;
  height: 2em;
  width: 2em;
}
.modal{
    width:100%;
    height: 100%;
    position: absolute;
    top:0; left:0;
    background-color: rgba(0,0,0,0.7);
}
.right{
  text-align: right;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
button{
  background: none;
  border: none;
}
.form{
  margin: auto;
  margin-top: 1em;
  padding: 1em;
  background: white;
  width:30%;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
</style>
